<section class="p-4 d-flex justify-content-center align-items-center">
    <!-- Register Form -->
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <!-- Title -->
        <h3 class="mb-3 text-center">Register</h3>
        <!-- Error Alert -->
        <div *ngIf="error"
            class="alert alert-danger mx-auto mb-3 p-3 d-flex justify-content-between align-items-baseline"
            role="alert">
            <div class="d-flex align-items-baseline">
                <i class="me-2 fa-solid fa-triangle-exclamation"></i>
                {{ error }}
            </div>
            <button type="button" class="btn-dismiss-alert" (click)="dismissAlert()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <!-- Email Control -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email" ngModel
                #email="ngModel" required [pattern]="emailRegex" />
            <div class="error" *ngIf="email.invalid && email.touched">
                <span *ngIf="(email?.errors)!['required']">Email is required.</span>
                <span *ngIf="(email?.errors)!['pattern']">
                    Email address is invalid.
                </span>
            </div>
        </div>
        <!-- Password Control -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Create a password" id="password" name="password"
                ngModel #password="ngModel" required [pattern]="passwordRegex" />
            <div class="error" *ngIf="password.invalid && password.touched">
                <span *ngIf="(password?.errors)!['required']">
                    Password is required.
                </span>
                <span *ngIf="(password?.errors)!['pattern']">
                    Password must contain atleast one lowercase, one uppercase, one digit,
                    one special character and must be between 8 to 15 characters in
                    length.
                </span>
            </div>
        </div>
        <!-- User Role -->
        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="role" name="role" value="admin" [ngModel]="false" />
            <label class="form-check-label" for="role"> I am an Administrator </label>
        </div>
        <!-- Form Actions -->
        <div class="d-flex justify-content-between align-items-center">
            <!-- Login -->
            <a class="link1" routerLink="/login" routerLinkActive="active" (click)="onClickOfLogin()">
                Have an account? Login
            </a>
            <!-- Register -->
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
                Register
            </button>
        </div>
    </form>
</section>