<!-- <app-header></app-header>
<div class="container">
  <app-sidebar>
  </app-sidebar>
  <app-book-list></app-book-list>
</div> -->
<!-- <app-common-error></app-common-error> -->
<!-- <div class="text-center">
  <h1>Welcome to my app!</h1>
  <app-custom></app-custom>
</div> -->
<!-- <nav myAttributeDirective>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<hr>
<p #test>custom attribute directive using renderer method</p>
<p appCustomStructuralDirective>custom structural directive</p>
<hr>
<app-product></app-product> -->
<h1>Welcome</h1>
<br />

<ul class="nav nav-tabs">
  <li
    class="nav-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/contact">Contact</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/aboutus']">AboutUs</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['home/123/product-one']"
      >ProductDetails</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
<h1>Product details component with product id called</h1>

Product id from the URL: <b>{{ productId }}</b
><br />
Product name from the URL: <b>{{ productName }}</b>

<h3>
  <a
    [routerLink]="['/home', '200', 'product-B']"
    [queryParams]="{ isProductDetails: true, isAllowedEditing: false }"
    fragment="loading"
    >Reload page by router link</a
  >
</h3>

<h1>404 - No Page Found For the Requested URL</h1>
<!-- <app-parent-demo></app-parent-demo>

<app-child-demo></app-child-demo> -->
<!-- <app-footer></app-footer> -->
