<!-- <app-header></app-header>
<div class="container">
  <app-sidebar>
  </app-sidebar>
  <app-book-list></app-book-list>
</div> -->
<!-- <app-common-error></app-common-error> -->
<!-- <div class="text-center">
  <h1>Welcome to my app!</h1>
  <app-custom></app-custom>
</div> -->
<!-- <nav myAttributeDirective>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<hr>
<p #test>custom attribute directive using renderer method</p>
<p appCustomStructuralDirective>custom structural directive</p>
<hr>
<app-product></app-product> -->
<h1>Welcome</h1>
<br />

<ul class="nav nav-tabs">
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link"
      routerLink="/">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/contact">Contact</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/aboutus']">AboutUs</a></li>
</ul>
<router-outlet></router-outlet>
<!-- <app-parent-demo></app-parent-demo>

<app-child-demo></app-child-demo> -->
<!-- <app-footer></app-footer> -->