<!-- edit-Product -->
<app-edit-product *ngIf="isModal" [title]="isEdit ? 'Update Product' : 'Add Product'" (modalClose)="closeModal()">
    <app-add-product [editProduct]="editProduct" (modalClose)="closeModal()" />
</app-edit-product>

<section>
    <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="openModal()">
            Add Product
        </button>
    </div>

    <p class="text-center" *ngIf="isFetching">Fetching products...</p>
    <p class="text-center" *ngIf="!isFetching && isError">
        Some error occurred while fetching products.
    </p>
    <p class="text-center" *ngIf="!isFetching && !isError && productList.length === 0">
        There are no products.
    </p>

    <table class="table table-hover" *ngIf="!isFetching && !isError && productList.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let product of productList">
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price | currency : "INR" }}</td>
                <td>
                    <button class="p-0 btn text-primary" (click)="onUpdate(product)">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <td>
                    <button class="p-0 btn text-danger" (click)="deleteProduct(product.id!)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>