/* .ng-invalid {
  border: red 1px solid;
} */

input.ng-invalid.ng-touched {
    border: red 1px solid;
}

.color-red {
    color: red;
}

.ML15 {
    margin-left: 15px;
}

.btn {
    border: 1px groove;
}

.containerone {
    display: flex;
    gap: 1rem;
}